@import 'reset.css'
@import '_vars'
@import '_defaults'

// foreground = white
// background = #2A2E39


body
	background background
	// width 100vw
	text-align center
	font-family avenir
a
	color modal
	text-decoration none
	

h1,h2,h3,h4,h5,h6
	color rgba(foreground, 0.6)
p
	color rgba(foreground, 0.9)

article, div, section, header, main, img
	box-sizing border-box

.logo
	font-family avenir, futura, sans
	font-weight 900
	text-transform uppercase
	letter-spacing 15px
	color rgba(foreground, 0.6)
	.modal
		color modal

.list-flex
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	article
		flex 1 auto
		// outline 10px solid rgba(foreground,0.8)
		// .metadata
		// 	background background
		// 	z-index 100
		// 	bottom 0
		// 	width 100%
		// 	opacity 0
		// 	transform translate3d(0, 40px, 0);
		// 	transition opacity 5s, transform 1s
		.image
			// background foreground
			overflow hidden
			// padding 20px
			border 2px solid foreground
			// &:hover
			// 	.metadata
			// 		transition opacity .5s, transform .5s
			// 		opacity 0.9
			// 		transform none
			img
				margin 0
				padding 0
				transition transform 0.5s
				max-width 100%
				vertical-align middle
				transform scale3d(1.1, 1.1, 1);
				&:hover
					transform none
					

		max-width 900px
		padding 20px	

main.single-photo
	@extend .list-flex



main.preview
	@extend .list-flex
		

	&.grid
		display flex
		flex-flow row wrap
		justify-content space-around
		.metadata
			display none

		article
			margin-top 20px
			padding 20px
			
			flex 1 100%
			overflow hidden

			img
				max-width 100%
				// height auto

			&:nth-child(3n + 1), &:nth-child(3n + 2)
				flex 1 50%
				height 300px

		

.slash-list
	li
		
		&:not(:first-child)
			&:before
				margin-left 10px
				margin-right @margin-left
				font-size 1.5em
				vertical-align middle
				content '/'
				color rgba(foreground,0.4)