extends layout

block altview
	a.subtle.no-decoration(href="/"): i.fa.fa-list-ul

block main

	//- p= pagination.files
	
	main.preview.grid
		if articles && articles.length > 0
			each post in articles
				article.mt3
					a(href='/'+post.path+'/'+post.full)
						.image
							img(src="/"+post.path+'/'+post.preview)
					
					footer.metadata.mt05
						ul.nm.no-style-type.slash-list
							//- li.inline: a(href='/'+post.path): h1.small.skinny!= post.title
							li.inline: a.small(href='/'+post.path) Direct link
							//- li.inline: a.small(href='/'+post.path) Source
							//- li.inline: span.small sizes
							li.inline: span.small Source: #{post.source}


		//- navigation
		
		//- ul.mt2.no-style-type.slash-list
		//- 	if pagination.previous
		//- 		- console.log(pagination.previous.path)
		//- 		if pagination.previous.pagination.num == 1
		//- 			li.inline: a(href='/') previous
		//- 		else
		//- 			li.inline: a(href='/page/'+pagination.previous.pagination.num+'/') previous
		//- 	if pagination.next
		//- 		- console.log(pagination.next)
		//- 		li.inline: a(href='/page/'+pagination.next.pagination.num+'/') next


		//- ul.nm.no-style-type.slash-list
		//- 	- var n = 0
		//- 	while n < pagination.pages.length
		//- 		- n++
		//- 		- url = (n == 1) ? '/':'/page/'+n+'/'
		//- 		- cl = (n == pagination.num) ? 'modal bold':'subtle'
		//- 		li.inline: a(href=url, class=cl)= n


