doctype html
html
	head
		title= title
		meta(name='description', content= description)
		link(rel="stylesheet", type="text/css", href="/css/main.css")

	body
		header
			h1.mt2.inline
				//- a.no-decoration.logo(href="/") The 
				//- 	span.modal Royal 
				//- 	| Space Program
				//- a.no-decoration.logo(href="/")
				//- 	span.modal royalty
				//- 	| Space
				a.no-decoration.logo(href="/")
					//- span.modal.skinny splay
					span.modal.skinny peek
					//- span.modal.skinny steal
					//- span.modal.skinny chop
					span.skinny space


			p.nm Curated royalty free space photography

			p ––––

			nav.mt2
				ul.no-style-type.mt.slash-list
					li.inline: a.no-decoration(href="/") Submit
					li.inline: a.no-decoration(href="/") Contact
					li.inline: a.no-decoration(href="/") About
					li.inline: a.no-decoration(href="https://twitter.com/gopatrik") Twitter

		block nav

		block main


		footer.mt2


