doctype html
html
	head
		title= title
		meta(name='description', content= description)
		link(rel="stylesheet", type="text/css", href="/css/main.css")

	body
		header
			h1.mt2.inline
				//- a.no-decoration.logo(href="/") The 
				//- 	span.modal Royal 
				//- 	| Space Program
				//- a.no-decoration.logo(href="/")
				//- 	span.modal royalty
				//- 	| Space
				a.no-decoration.logo(href="/")
					span.skinny
						span.spaced
							span.modal peek
							| spac
						|e
					


			p.nm Curated royalty free space photography

			p ––––

			nav.mt2
				ul.no-style-type.mt.slash-list
					li.inline: a.no-decoration(href="/") Submit
					block altview
						li.inline: a.no-decoration(href="/grid") Grid
					li.inline: a.no-decoration(href="/about") About
					li.inline: a.no-decoration(href="https://twitter.com/gopatrik") Twitter

		block nav

		block main


		footer.mt2
			p peek.space is created, curated and maintained by 
				a(href="https://twitter.com/gopatrik") @gopatrik

